body{
    background-image: url("../images/summonersrift.28d3a83ecda3.jpg");
    background-size: cover;
}
h1 {
    text-align: left;
    color: white;
    position: absolute;             
    top: 48%;
    left: 52%;                        
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
ul{
    list-style-type: none; /* Removes bullet points from ul */
}
.main-header{
    text-align: center;
    position: absolute;             
    top: 30%;
    left: 49%;                        
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
form{
    text-align: center;
    position: absolute;             
    top: 37%;
    left: 50%;                        
    margin-right: -50%;
    transform: translate(-50%, -50%)    
}
